<div class="password_requirements_list">
    <div class="col-md-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-warning">Ваш пароль шикарен если:
            </li>
            <li class="list-group-item">Он состоит минимум из 12 символов</li>
            <li class="list-group-item">Он содержит хотя бы 1 цифру</li>
            <li class="list-group-item">Он содержит хотя бы 1 символ в нижнем регистре</li>
            <li class="list-group-item">Он содержит хотя бы 1 символ в верхнем регистре</li>
            <li class="list-group-item">Он не ваш Email</li>
        </ul>
    </div>
</div>