{% extends 'layouts/basic.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4" class="jumbotron text-center">
        <div class="jumbotron text-center">
            <h2>
                {% block message %}{% endblock message %}
            </h2>
            <a href="{% url 'user_storages:index' %}">
                <input class='btn btn-success' type="submit" value="Главная">
            </a>
        </div>
    </div>
</div>
{% endblock content %}