{% extends 'layouts/basic.html' %}

{% load static %}

{% block title %}
Хранилища автора {{ user.username }}
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        {% for storage in storages %}
        <div class="col-md-4">
            <div class='jumbotron'>
                <!-- Name -->
                <h2 class='text-center'>{{ storage.name }}</h2>

                <br>

                <!-- Login -->
                <h4><b>Логин:</b> {{ storage.account_login }}</h4>

                <!-- Password -->
                <h4><b>Пароль:</b> {{ storage.account_password }}</h4>

                <!-- Notes -->
                <h5>{{ storage.notes }}</h5>

                <br>

                <!-- Last edition -->
                Последнее изменение: {{ storage.date_of_edition }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}