{% extends 'layouts/base_form.html' %}

{% load static %}

{% block title %}Авторизация{% endblock title %}

{% block submit_button %}
<input class='btn btn-success' type="submit" value="Войти">
{% endblock submit_button %}

{% block after_form %}
<br>
<a class='text-dark' href="{% url 'account_management:registration' %}">
    <input class='btn btn-primary' type="submit" value="Регистрация">
</a>
<br><br>
<a class='text-dark' href="{% url 'account_management:password_reset' %}">
    Забыли пароль?
</a>
{% endblock after_form %}